body {
    background-color: #f7e7ce 
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header {
    height: 2.5m;
    line-height: 2.75em;
    padding: 5px 0;
    margin: 0 15px;
    color: #AF7A6D;
    border-bottom: 2px double #3B270C;
}

.guest-entry {
    margin: 10px 15px;
    width: calc(100% - 30px);
}

.guest-entry-input {
    width: 100%;
    font-size: small;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    
}

.header-text {
    font-size: 3em;
    font-family: cursive;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header-subtext {
    font-size: 1em;
    font-family: cursive;
    line-height: normal;
}

.guest-autofill {
    width: calc(100%-30px);
    margin: 0 15px;
    font-size: small;
    border: 1px solid lightgrey;
    position: relative;
    background-color: white;
    top: -5px;
    padding: 0 5px;
}

.image-marker__marker {
    width: 2.75%;
    height: 2.75%;
    line-height: 80% !important;
    min-height: 0;
    min-width: 0;
}

.custom-marker {
    border-radius: 50% !important;
    background-color: red !important;
    background-color: brown;
    border-radius: 50%;
    color: white;
    text-align: center;
    animation: pulse 1.5s infinite;
}


.table-info {
    height: 25vh !important;
    width: 100%;
    animation:fadeIn 2s ease-in;    
}