body {
    background-color: #eae3c9 
}

.header {
    height: 2.5m;
    /* background-color: #3B270C; */
    line-height: 2.75em;
    padding: 5px 0;
    margin: 0 15px;
    color: #3B270C;
    border-bottom: 1px solid #3B270C;
}

.guest-entry {
    margin: 10px 15px;
    width: calc(100% - 30px);
}

.guest-entry-input {
    width: 100%;
    font-size: small;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    
}

.header-text {
    font-size: 3em;
    font-family: cursive;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header-subtext {
    font-size: 1em;
    font-family: cursive;
    line-height: normal;
}